*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #FFFFFF;
  --color-black: #1B1B1B;
  --color-2: #3b4149;
  --color-background: #F1F1F1;
  --color-blue: #0068C8;
  --color-gray: #848484;
  --color-jaune: #FCC906;
  --color-red: #dd2831;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--color-background);
}
i {
  color: var(--color-blue);
}
.no-button {
  background-color: transparent;
  border: none;
  outline: none;
}

.no-button:hover {
  color: var(--color-blue);
}
a{
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: var(--color-blue);
}

p{
  color: var(--color-gray);
}

.txt-blue {
  color: var(--color-blue);
}

.txt-red {
  color: var(--color-red);
}

.txt-jaune {
  color: var(--color-jaune);
}

.color-blue {
  background-color: var(--color-blue);
}

.txt-gray {
  color: var(--color-gray);
}

.txt-noire {
  color: var(--color-black);
}

.bg-white {
  background-color: var(--color-white);
}

input:focus, textarea:focus, select:focus {
  outline: none; /* Enlève le contour */
  box-shadow: none; /* Enlève l'ombre sur Bootstrap */
}



/* Header Debut */
.header-top {
  background-color: var(--color-black);
  color: var(--color-white);
}



.header-main {
  background-color: var(--color-white);
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.header-bottom {
  background-color: var(--color-white);
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  /* position: relative; */
}

.dropdown {
  cursor: pointer;
}
.dropdown-toggle::after {
  display: none !important;
  
}
.dropdown-menu {
  
  border-radius:  0  0 6px 0;
  border-top: 0px;
  width: 100%;
}

.offcanvas {
  height: 100vh; /* Assure que le modal prend toute la hauteur de la vue */
  width: 100px;
}

.increment, .decrement {
  border: 1px solid var(--color-blue);
  background-color: var(--color-blue);
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
}

.increment {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

.decrement {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}
.valeur {
  border: 1px solid var(--color-blue);
  border-radius: 0;
  text-align: center;
  height: 20px;
  
}

/* Header Fin */

/* Container Debut */
.card:hover {
  border: 1px solid var(--color-blue);
  transition: 0.5s ease-in;
  cursor: pointer;
}



.title {
  position: relative;
  text-decoration: none;
}

.title::before{
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: var(--color-blue);
  transition: width 0.5s ease-in-out;
  transform-origin: left;
  border-radius: 6px;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

.active {
  position: relative;
  
}
.active::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-blue);
  transition: width 0.5s ease-in-out;
  transform-origin: left;
  border-radius: 6px;
  top: 40px;
}
/* Container Fin */